{{- define "main" }}

{{- if (and site.Params.homeInfoParams (eq .Title site.Title)) }}
{{- partial "home_info.html" . }}
{{- end }}

{{- $pages := union .RegularPages site.RegularPages }}

{{- if site.Params.ShowTagCloud }}
{{- partial "tag_cloud.html" . }}
{{- end }}

{{- $paginator := .Paginate $pages }}
{{- if and .Content (not (.Param "hiddenInHomeList")) }}
<div class="first-entry home-info">
    <div class="entry-content">
        {{- .Content -}}
    </div>
</div>
{{- end }}

{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}

{{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
{{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
{{- $class = "first-entry" }}
{{- else if $page.Weight }}
{{- $class = "post-entry tag-entry" }}
{{- end }}

<article class="{{ $class }}">
    {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) | default false }}
    {{- partial "cover.html" (dict "cxt" $page "IsSingle" false "isHidden" $isHidden) }}
    <header class="entry-header">
        <h2 class="entry-hint-parent">
            <a href="{{ $page.Permalink }}">{{ $page.Title }}</a>
            {{- if $page.Draft }}
            <span class="entry-hint" title="Draft">
                <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
                    <path
                        d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
                </svg>
            </span>
            {{- end }}
        </h2>
    </header>
    {{- if (ne (.Param "hideSummary") true) }}
    <div class="entry-content">
        <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="entry-footer">
        {{- partial "post_meta.html" . -}}
    </div>
    {{- end }}
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
    <nav class="pagination">
        {{- if $paginator.HasPrev }}
        <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">
            «&nbsp;{{ i18n "prev_page" | default "Prev" }}
        </a>
        {{- end }}
        {{- if $paginator.HasNext }}
        <a class="next" href="{{ $paginator.Next.URL | absURL }}">
            {{ i18n "next_page" | default "Next" }}&nbsp;»
        </a>
        {{- end }}
    </nav>
</footer>
{{- end }}

{{- end }}{{/* end main */}}
